
ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
    box-sizing: border-box;
    text-align:center;
  }
  li {
    float: left;
  }
  li a, .dropbtn {
    display: inline-block;
    list-style: none;
    font-size: 16px;
    font-family: 'Helvetica', sans serif;
    color: whitesmoke;
    text-align: center;
    width: 80px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: dimgray;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7f1fb;
    min-width: 40px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
    z-index: -1;
  }
  
  .dropdown-content a {
    color: black;
    font-size: 14px;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {background-color: lightgray;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
