
/* 

STYLE.CSS

Student: Keith Hedges
Instructer: Dr. Jennifer Kueter
Course: ISLT 7355 Web Design and Development
University of Missouri - Columbia
Fall 2021

*/

html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

li {
  color: blue;
  display: inline;
  text-align: center;
  padding: 15px 15px 15px 15px;
}

blockquote {
  font-family: 'Ephesis', cursive;
  font-size: 24px;;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 15% 15% 60% 10%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "Navigation Navigation"
    "Image Content"
    "Footer Footer";
}

.Header { grid-area: Header; 
    color: black;
    text-size-adjust: 50%;
    text-align: center;
  }

.Navigation { grid-area: Navigation; 
  background: lightgray;
  padding: 15px 15px 15px 15px;
  font-size: 150%;
  text-align: center;
}

.Image { 
  grid-area: Image;
  padding: 2%;
  text-align: center;
}

.Video {
  text-align: center;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:first-child {
  background-color: #dddddd;
}

.Content { grid-area: Content; 
margin-left: 3em;
margin-right: 2em;
font-size: 16px;}

.flexbox-container {
  box-sizing: content-box;
  padding: 10px;
  background-color: aliceblue;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexbox-item {
  width: 260px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: lightsteelblue;
}

figure {
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=submit] {
  color: black;
  padding: 10px 16px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: lightgreen;
}

.contact-container {
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  background-color: aliceblue;

}

html, body, .container {
  height: 100%;
  margin: 0;
}
  
footer {
  display: inline-block;
  bottom: 0;
  text-align: center;
  background-color: ivory;
  margin: 0;
  padding: 6px;;
  width: 100%;
  font-size: 14px;
}

@media print {
  nav, aside {
    display: none;
  }
  body {
    color: black;
    background-color: white;
    font-family: serif;
  }
  h1 {
    color: black;
  }
  p {
    color: black;
  }
}